!!! 5
html
  head
    title= 'Authentication Microservice'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
  .container
    h3 Cannot Proceed Further.
    p.lead #{message}!
    a(href="/login") Go Home

  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
